nav {
  text-align: center;
  margin: 20px 0;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);

}

nav a {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);

}

nav a:hover {
  background-color: #000;
  color: #fff;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);

}

html, body {
  height: 100%;
  margin: 0;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);
}

h1 {
  background-image: url("food/instantnoodlecover.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: red;
}

.left-image {
  float: left;
  border-left: 6px solid red;
  margin-right: 20px;
}

.right-image {
  float: right;
  border-right: 6px solid red;
  margin-left: 20px;
}

.left-border {
  text-align: left;
}

.right-border {
  text-align: right;
}

figure::after {
  content: "";
  display: table;
  clear: both;
}
