/* Basic styles */
nav {
  text-align: center;
  margin: 20px 0;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);

}

nav a {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);

}

nav a:hover {
  background-color: #000;
  color: #fff;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);

}

html, body {
  height: 100%;
  margin: 0;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);
}

header, footer {
  padding: 10px;
  text-align: center;
}
main {
  padding: 20px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-top: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
  padding: 10px 20px;
  margin-top: 15px;
}

/* Hidden class for toggling */
.hidden {
  display: none;
}

.custom-width {
  border-width: 3px;
  border-style: dashed;
  border-color: black;
  padding: 20px;
  margin-bottom: 20px;
}
