* {
  box-sizing: border-box;
}

nav {
  text-align: center;
  margin: 20px 0;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);

}

nav a {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);

}

nav a:hover {
  background-color: #000;
  color: #fff;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);

}

.container-left .content,
.container-right .content {
  border: 5px solid red;
  background-color: #7d8796;
  color: blue;
  padding: 20px;
  width: 500px;
  max-width: 100%;
}

.container-left .content {
  margin-right: auto;
  text-align: left;
}

.container-right .content {
  margin-left: auto;
  text-align: right;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e);
}

.line {
  border-left: 6px solid white;
  height: 100000px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 200px;
}
